/*------------------------------------*/
/* #A11Y */
/*------------------------------------*/

.sr-only {
  display: block;
  height: 0;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  width: 0;
}

/* TODO: still not sorted */
.sr-only * {
  display: inline-block;
  height: 0;
  width: 0;
}
