/* TODO: this is very key but the demos are not working so I cant fix it today
https://developer.chrome.com/docs/web-platform/view-transitions/cross-document */

/* @view-transition {
  navigation: auto;
} */

.deck {
  display: grid-lanes;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(var(--vulture) * 1.4)), calc(var(--vulture) * 1.8)));
  justify-content: center;
  gap: 1rem;
  margin-block: 0;
  
  .card {
    display: grid;
    border: 6px solid var(--sand-200);
      transition: var(--moment);
    background-color: var(--sand-200);

    > * {
      grid-column: 1;
      grid-row: 1;
      transition: var(--moment);
    }

    .header,
    .footer {
      color: var(--sand-200);
      border: none;
      font-size: var(--aconcagua);
      text-align: center;
      z-index: 3;
    }

    .footer {
      align-self: end;
    }

    .overlay {
      background: black;
      opacity: 0.25;
      z-index: 2;
      mix-blend-mode: overlay;
    }
  }
}

.card:hover {
  img {
    filter: blur(1px);
  }

  .overlay {
    opacity: 0;
  }
}