/*------------------------------------*/
/* #LAYOUT */
/*------------------------------------*/

.vulture,
.stork,
.condor,
.pelican,
.albatross,
.deck {
  margin-inline: auto;
}

.vulture {
  width: var(--vulture);
}

.stork {
  width: var(--stork);
}

.condor {
  width: var(--condor);
}

.pelican,
.deck {
  width: var(--pelican);
}

.albatross {
  width: var(--albatross);
}
