/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--pine-500);
}

a:hover {
  color: var(--pine-600);
}

a.highlight {
  text-decoration: none;
  border-bottom: 3px solid var(--pine-100);
  box-shadow: inset 0 -4px 0 var(--pine-100);
  background: transparent;
  transition: background 150ms ease;
}

a.highlight:hover {
  background: var(--pine-100);
}

/* has to be here */
a.card {
  text-decoration: none;
}