/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0; /* reset then build back up */
}

p {
  margin-block-end: 1.5rem;
  line-height: 1.5;
}

.serif {
  font-family: var(--font-serif);
}
