---
import Wrapper from "../components/wrapper.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import fetchApi from "../lib/strapi";
import type { collaboratorLinkTypes } from "../types/collaborator-link-types";

const collaborators = await fetchApi<collaboratorLinkTypes[]>({
  endpoint: "collaborators",
});

// console.log(collaborators);
---

<Wrapper
  seo={{
    title: "Collaborators",
  }}
>
  <Header />
  <main class="condor">
    <h1 class="serif">Collaborators</h1>
    <hr />
    <ul>
      {
        collaborators.map((collaborator) => (
          <li>
            <a href={`/collaborators/${collaborator.slug}`}>
              {collaborator.name}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <Footer />
</Wrapper>
