---
import Wrapper from "../components/wrapper.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import fetchApi from "../lib/strapi";
import type { CoupleCardTypes } from "../types/couple-card-types";

const couples = await fetchApi<CoupleCardTypes[]>({
  endpoint: "couples",
});
---

<Wrapper
  seo={{
    title: "Couples",
  }}
>
  <Header />
  {
    couples.map((couple) => (
      <div>
        <h2>
          <a href={`/couples/${couple.slug}`}>
            {couple.bride} & {couple.groom}
          </a>
        </h2>
      </div>
    ))
  }
  <Footer />
</Wrapper>
