---
import Wrapper from "../components/wrapper.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Wrapper
  seo={{
    title: "form sucess",
  }}
>
  <Header />
  <main class="condor">
    <h1 class="serif">Form Sucess</h1>
    <p>
      Thank you for your submission! We will review it and get back to you
      shortly.
    </p>
  </main>
  <Footer />
</Wrapper>
