---
import "../styles/app.css";
import fetchApi from "../lib/strapi";
import Deck from "../components/deck.astro";
import Wrapper from "../components/wrapper.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import type { CoupleCardTypes } from "../types/couple-card-types";

const couples = await fetchApi<CoupleCardTypes[]>({
  endpoint: "couples", // the content type to fetch
  populate: {
    hero: true, // populate the image field
  },
});
---

<Wrapper>
  <Header />
  <main>
    <h3 class="condor">
      <a href="/couples">Couples</a>
    </h3>
    <Deck cards={couples} />
  </main>
  <Footer />
</Wrapper>
