---
import { Image } from "astro:assets";
const { title, excerpt, link, image, imageAlt, imageWidth, imageHeight } =
  Astro.props;
---

<article class="card">
  {
    image ? (
      <Image
        src={image}
        width={imageWidth || 1200}
        height={imageHeight || 600}
        alt={imageAlt || title}
      />
    ) : null
  }
  <a href={link} class="serif">
    {title}
  </a>
  <p>{excerpt}</p>
</article>
