---
import fetchApi from "../lib/strapi";
import type { metaTypes } from "../types/meta-types";

const meta = await fetchApi<metaTypes>({
  endpoint: "meta", // the content type to fetch
});
---

<header class="condor">
  <h1>
    <a href="/">
      {meta.name}
      {meta.title}
    </a>
  </h1>
</header>
