---
import "../styles/app.css";
import SEO from "../components/seo.astro";
const { seo } = Astro.props;

console.log(seo);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={seo?.title} />
  </head>
  <body>
    <slot />
  </body>
</html>
