---
import "../styles/app.css";
// import SEO from "../components/seo.astro";
// const { seo } = Astro.props;

// console.log(seo);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--     <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self';
      img-src 'self' 45.79.101.19;
      style-src-elem 'self' googleapis.com 'sha256-xBFDvEk83eOkqNVxpc0/wO9bTwQdUdkHxBkT6EN/1AY=';
      "
    /> -->

    <!-- <SEO title={seo?.title} /> -->
  </head>
  <body>
    <slot />
  </body>
</html>
